
### WARNING: This file does not accept the variable $HOME. You need to use the absolute path


# This file should contain the locations of all programs needed by Nscan_driver.pl
# You can redirect this output to a file and use it as a config file.
# Make sure you set all locations according to your system!

# location for storage of temporary files (must be large enough to store informant genome) ### Warning: need / at end
tmpdir=/scratch/vacceed/toxoplasma/build_proteome/build_dir/nscan/nscan_tmp/

# location of nscan_executable
# N-SCAN can be downloaded from http://mblab.wustl.edu/software/
nscan=/home/sgoodswe/Gene_Prediction_Programs/nscan/Nscan_4.0/bin/iscan

# location of RepeatMasker program
# RepeatMasker can be downloaded from http://www.repeatmasker.org/RMDownload.html
# If your sequence is already masked or you do not want to mask, 
# you can run Nscan_driver.pl with the --nomask option
# the repmask path will be ignored
repmask=/home/sgoodswe/pipeline_programs/RepeatMasker/RepeatMasker

# location of Blastz program
# Blastz and multiz can be downloaded from http://www.bx.psu.edu/miller_lab/
# If you already have an ALIGN format file, 
# you can run Nscan_driver.pl with the --blastz=[align file] option
# in that case, you can remove the following three paths, or leave them:
# they will be ignored.
blastz=/home/sgoodswe/pipeline_programs/lastz/bin/blastz

# location of blastz output formatter. This program comes with Multiz
lav2maf=/home/sgoodswe/pipeline_programs/lav2maf/lav2maf

# the maf2align script is included in the N-SCAN download
maf2align=/home/sgoodswe/Gene_Prediction_Programs/nscan/Nscan_4.0/bin/maf_to_align.pl

# location of informant sequence file. 
# This file should be in (multiple) fasta format with Blastz headers: 
# name, chromosome, startpos, strand, and endpos separated by colons
# Example:
# >mm8:chr1:1:+:197069962

## DO NOT Change the following line
informant=informant.fa

# parameterfile
parameter_file=/home/sgoodswe/Gene_Prediction_Programs/nscan/Nscan_4.0/parameters/nscan_parameters/human_nscan.zhmm

